.demo,.newDemo {display: none;}
div[contenteditable] {cursor: text;display: inline-block;vertical-align: top;}
.yt-baseStyle .baseBlock .showItem {display: block;}
/* theme default */
.container {
  position: relative;
  font-size: 14px;
  color: #666;
  padding: 107px 18px 50px;
}
.container .box{
	border: 1px solid #979797;
	border-radius: 32px;
	padding: 100px 15px 20px;
}
.wy-theme h1 {
	font-size: 18px;
	font-weight: bolder;
	color: #3D92E4;
}
.wy-theme section {
	margin-bottom: 25px;
	padding-left: 30px;

}
.wy-theme .title h1:before{
	content: '';
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background: #3D92E4;
	float: left;
	position: absolute;
	top: 8px;
	left: -16px;
}
.wy-theme .left {
	float: left;
	width: 365px;
	margin-right: 15px;
}
.wy-theme .right {
	float: right;
	width: 365px;
}
.wy-theme .avatar {
	width: 145px;
	height: 145px;
	border-radius: 73px;
	background: #D8D8D8;
	margin: -170px auto 20px; 
}
.wy-theme .avatar img {
	width: 145px;
	height: 145px;
	border-radius: 73px;
}
.wy-theme #base .item {
	float: left;
	margin-right: 10px;
	width: 40%;
}
.wy-theme #base .header-box h1{
	float: left;
	margin-right: 30px;
}
.wy-theme #base .item {
	float: left;
	margin-right: 30px;
}
.wy-theme .main #jybj .item-box .item,.wy-theme .main #sxjl .item-box .item,.main #xmjy .item-box .item,.main #pxjl .item-box .item{
  float: left;
  margin-right: 30px;
  text-align: left;
  font-size: 14px;
  color: #333333;
  line-height: 20px;
  font-weight: bolder;
}
.wy-theme .main #jybj .block-item,.main #sxjl .block-item,.main #xmjy .block-item,.main #pxjl .block-item{
	margin-top: 10px;
}
.wy-theme .main .time {
	font-size: 14px;
	color: #333333;
	line-height: 20px;
	font-weight: bolder;
}
.wy-theme .main #xqah .hobbyItem {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #999999;
  border-radius: 25px;
  margin: 15px 10px 0 0;
  text-align: center;
  line-height: 50px;
  font-size: 10px;
}
.wy-theme #wdjn .skill {
	padding: 5px;
	border: 1px solid #666;
	border-radius: 10px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;
}
