.demo,.newDemo {display: none;}
div[contenteditable] {cursor: text;display: inline-block;vertical-align: top;}
.yt-baseStyle .baseBlock .showItem {display: block;}
/* theme default */
.tra-box{
  width: 124px;
  margin-bottom: 45px;
}
.trangle{
  width: 15px;
  height: 15px;
  margin: -26px auto;
  background: #fff;
  border-left: 1px #979797 solid; 
  border-bottom: 1px #979797 solid; 
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Safari and Chrome */
}
.default .container{
  position: relative;
  font-size: 16px;
  color: #333333;
}
.font-title1{
  font-size: 20px;
  font-weight: bolder;
}
.font-title2{
  font-size: 18px;
  font-weight: bolder;
}
.main{
  position: relative;
}
.main #base {
  margin: 30px 30px 22px;
}
.main #base .header-box{
  float: left;
  text-align: center;
  margin-right: 60px;
}
.main #base .right{
  padding-top: 20px;
}
.main #base .header-box .avatar{
  width: 120px;
  height: 120px;
  background: #D8D8D8;
  border: 1px solid #979797;
  border-radius: 60px;
  margin: 0 auto 6px;
}
.main #base .header-box .avatar img {
  width: 120px;
  height: 120px;
  border: 1px solid #979797;
  border-radius: 60px;
}
.main #base .item{
  float: left;
  width: 33%;
}
.main section{
  /*margin-top: 10px;*/
  border-top: 1px solid #979797;
  padding: 15px 0 25px;
}
.main .content{
  margin-left: 124px;
}
.main section h1 div{
  float: left;
  width: 124px;
  text-align: center;
  font-size: 18px;
  margin-top: 6px;
  font-weight: bolder;
  color: #93DB3A;
}

.main #jybj .item-box .item,.main #sxjl .item-box .item,.main #xmjy .item-box .item{
  float: left;
  margin-right: 30px;
  text-align: left;
  font-size: 18px;
  color: #333333;
  line-height: 30px;
  font-weight: bolder;
}
.main #jxry .jx{
  float: left;
  width: 30%;
}
.main #xqah .hobbyItem {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #999999;
  margin: 20px 40px 0 10px;
  text-align: center;
  line-height: 70px;
  font-size: 10px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
}
.main #xqah .hobbyItem div{
  margin-top: -10px;
  margin-left: 5px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Safari and Chrome */

}
.main #xqah .delItem {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */

}