css
https://s3.cn-north-1.amazonaws.com.cn/rs-template/templates/21/593621d65b7c8176f86a40f1_css.css?r=1496746219


<div id="themeStyle" class="default">
      <div class="container clearfix">
        <header class="clearfix">
          <div class="self baseBlock">
            <h1 class="title">
              <div contenteditable="true">
                关于我
              </div>
            </h1>
            <div class="desc">
              <div contenteditable="true">
                <% if(typeof(introduce)=="undefined"){ %>
                  我为人友善、真诚、做事细致、专注，有很强的责任心，学习能力与适应能力强，喜欢与他人交谈，热爱生活性格标签是认真，有着沉静内敛，善于思考和研究的特质，作为本硕皆为新闻学专业的文科生，与文字为伴多年，文字功底扎实，文字编辑、把关、策划能力强。
                <% }else if(typeof(introduce.desc)=="undefined"){ %>
                  我为人友善、真诚、做事细致、专注，有很强的责任心，学习能力与适应能力强，喜欢与他人交谈，热爱生活性格标签是认真，有着沉静内敛，善于思考和研究的特质，作为本硕皆为新闻学专业的文科生，与文字为伴多年，文字功底扎实，文字编辑、把关、策划能力强。
                <% }else{ %>
                  <%=introduce.desc%>
                <% } %>
              </div>
            </div>
          </div>
          <div class="avatar">
            <% if(typeof(information)=="undefined"){ %>
              <img id="avatar" src="https://resume.yo-tree.com/static/img/no-user.png">
            <% }else if(typeof(information.avatar)=="undefined"){ %>
              <img id="avatar" src="https://resume.yo-tree.com/static/img/no-user.png">
            <% }else{ %>
              <img id="avatar" src="<%=information.avatar%>">
            <% } %>
          </div>
        </header>
        <div class="main" id="foo">
          <!-- 基本信息 -->
          <section id="base" class="baseinfo baseBlock baseSort clearfix">
            <div for-type="old" for-id="base" class="yt-fontBar"></div>
            <h1 class="title showItem">
              <div contenteditable="true">基本信息 </div>
            </h1>
            <div class="baseItem">
              <div contenteditable="true">
                <% if(typeof(information)=="undefined"){ %>
                  有树
                <% }else if(typeof(information.name)=="undefined"){ %>
                  有树
                <% }else{ %>
                <%=information.name%>
                <% } %>
              </div>
            </div>
            <div class="baseItem">
              <div contenteditable="true">
                <% if(typeof(information)=="undefined"){ %>
                  性别：女
                <% }else if(typeof(information.gender)=="undefined"){ %>
                  性别：女
                <% }else{ %>
                  性别：<%=information.gender%>
                <% } %>
              </div>
            </div>
            <div class="baseItem">
              <div contenteditable="true">
                <% if(typeof(information)=="undefined"){ %>
                  生日：1992-09-09
                <% }else if(typeof(information.birthdayStr)=="undefined"){ %>
                  生日：1992-09-09
                <% }else{ %>
                  生日：<%=information.birthdayStr%>
                <% } %>
              </div>
            </div>
            <div class="baseItem">
              <div contenteditable="true">
                <% if(typeof(information)=="undefined"){ %>
                  籍贯：河北
                <% }else if(typeof(information.nativeStr)=="undefined"){ %>
                  籍贯：河北
                <% }else{ %>
                  籍贯：<%=information.nativeStr%>
                <% } %>
              </div>
            </div>
            <div class="baseItem">
              <div contenteditable="true">
                <% if(typeof(information)=="undefined"){ %>
                  现居：北京
                <% }else if(typeof(information.addressStr)=="undefined"){ %>
                  现居：北京
                <% }else{ %>
                  现居：<%=information.addressStr%>
                <% } %>
              </div>
            </div>
            <div class="baseItem">
              <div contenteditable="true">
                <% if(typeof(information)=="undefined"){ %>
                  电话：18888888888
                <% }else if(typeof(information.phone)=="undefined"){ %>
                  电话：18888888888
                <% }else{ %>
                  电话：<%=information.phone%>
                <% } %>
              </div>
            </div>
            <div class="baseItem">
              <div contenteditable="true">
                <% if(typeof(information)=="undefined"){ %>
                  邮箱：12345@yo-tree.com
                <% }else if(typeof(information.email)=="undefined"){ %>
                  邮箱：12345@yo-tree.com
                <% }else{ %>
                  邮箱：<%=information.email%>
                <% } %>
              </div>
            </div>
            <div class="baseItem">
              <div contenteditable="true">
                <% if(typeof(information)=="undefined"){ %>
                  政治面貌：中共党员
                <% }else if(typeof(information.politics)=="undefined"){ %>
                  政治面貌：中共党员
                <% }else{ %>
                  政治面貌：<%=information.politics%>
                <% } %>
              </div>
            </div>
            <div class="demo">
              <div class="baseItem">
                <div contenteditable="true">
                  标题：编辑内容
                </div>
              </div>
            </div>
          </section>
          <!-- 教育背景 -->
          <section id="jybj" class="education baseBlock baseSort">
            <div for-type="old" for-id="jybj" class="yt-fontBar"></div>
            <h1 class="title showItem">
              <div contenteditable="true">教育背景 </div>
            </h1>
            <% if(typeof(education)=="undefined"){ %>
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.09-2016.06</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">清华大学</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">新闻传播学</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">硕士研究生</div>
                </div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">
                2016年获得研究生第一学d年特等奖学金<br>
                2016年11月代表北京大学新闻系参加首页北京地区新闻院系研究生论坛<br>
                2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                2016年发表北大中文核心期刊2篇
                </div>
              </div>
            <% }else if(education.length > 0){ %>
              <%for(var i=0;i<education.length;i++){%>
                  <div class="item-box clearfix">
                    <div class="item showItem">
                      <div contenteditable="true">
                        <% if(typeof(education[i].time)=="undefined"){ %>
                          2014.09-2016.06
                        <% }else{ %>
                          <%=education[i].time%>
                        <% } %>
                      </div>
                    </div>
                    <div class="item showItem">
                      <div contenteditable="true">
                        <% if(typeof(education[i].gxname)=="undefined"){ %>
                          有树大学
                        <% }else{ %>
                          <%=education[i].gxname%>
                        <% } %>
                      </div>
                    </div>
                    <div class="item showItem">
                      <div contenteditable="true">
                        <% if(typeof(education[i].major)=="undefined"){ %>
                          新闻传播学
                        <% }else{ %>
                          <%=education[i].major%>
                        <% } %>
                      </div>
                    </div>
                    <div class="item showItem">
                      <div contenteditable="true">
                        <% if(typeof(education[i].education)=="undefined"){ %>
                          研究生
                        <% }else{ %>
                          <%=education[i].education%>
                        <% } %>
                      </div>
                    </div>
                  </div>
                  <div class="desc showItem">
                    <div contenteditable="true">
                    2016年获得研究生第一学d年特等奖学金<br>
                    2016年11月代表北京大学新闻系参加首页北京地区新闻院系研究生论坛<br>
                    2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                    2016年发表北大中文核心期刊2篇
                    </div>
                  </div>
              <%}%>
            <% }else{ %>
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.09-2016.06</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">清华大学</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">新闻传播学</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">硕士研究生</div>
                </div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">
                2016年获得研究生第一学d年特等奖学金<br>
                2016年11月代表北京大学新闻系参加首页北京地区新闻院系研究生论坛<br>
                2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                2016年发表北大中文核心期刊2篇
                </div>
              </div>
            <% } %>
            <div class="demo">
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.09-2016.06</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">清华大学</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">新闻传播学</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">硕士研究生</div>
                </div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">
                2016年获得研究生第一学d年特等奖学金<br>
                2016年11月代表北京大学新闻系参加首页北京地区新闻院系研究生论坛<br>
                2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                2016年发表北大中文核心期刊2篇
                </div>
              </div>
            </div>
          </section>
          <!-- 工作经历 -->
          <section id="gzjl" class="work baseBlock baseSort">
            <div for-type="old" for-id="gzjl" class="yt-fontBar"></div>
            <h1 class="title showItem">
              <div contenteditable="true">工作经历 </div>
            </h1>
            <% if(typeof(work)=="undefined"){ %>
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.5-2015.5</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">传媒艺术研究</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">《传媒艺术先锋》</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">执行主编</div>
                </div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">
                2016年获得研究生第一学年特等奖学金<br>
                2016年11月代表北京大学新闻系参加首页北京地区新闻院<br>
                2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                2016年发表北大中文核心期刊2篇<br>
                2016年获得研究生第一学年特等奖学金
                </div>
              </div>
            <% }else if(work.length > 0){ %>
              <%for(var i=0;i<work.length;i++){%>
                <div class="item-box clearfix">
                  <div class="item showItem">
                    <div contenteditable="true">
                      <% if(typeof(work[i].time)=="undefined"){ %>
                        2014.09-2016.06
                      <% }else{ %>
                        <%=work[i].time%>
                      <% } %>
                    </div>
                  </div>
                  <div class="item showItem">
                    <div contenteditable="true">
                      <% if(typeof(work[i].name)=="undefined"){ %>
                        途云内外
                      <% }else{ %>
                        <%=work[i].name%>
                      <% } %>
                    </div>
                  </div>
                  <div class="item showItem">
                    <div contenteditable="true">
                      <% if(typeof(work[i].type)=="undefined"){ %>
                        全职
                      <% }else{ %>
                        <%=work[i].type%>
                      <% } %>
                    </div>
                  </div>
                  <div class="item showItem">
                    <div contenteditable="true">
                      <% if(typeof(work[i].position)=="undefined"){ %>
                        执行主编
                      <% }else{ %>
                        <%=work[i].position%>
                      <% } %>
                    </div>
                  </div>
                </div>
                <div class="desc showItem">
                  <div contenteditable="true">
                    <% if(typeof(work[i].desc)=="undefined"){ %>
                      2016年获得研究生第一学年特等奖学金<br>
                      2016年11月代表北京大学新闻系参加首页北京地区新闻院<br>
                      2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                      2016年发表北大中文核心期刊2篇<br>
                      2016年获得研究生第一学年特等奖学金
                    <% }else{ %>
                      <%=work[i].desc%>
                    <% } %>
                  </div>
                </div>
              <% } %>
            <% }else{ %>
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.5-2015.5</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">传媒艺术研究</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">《传媒艺术先锋》</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">执行主编</div>
                </div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">
                2016年获得研究生第一学年特等奖学金<br>
                2016年11月代表北京大学新闻系参加首页北京地区新闻院<br>
                2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                2016年发表北大中文核心期刊2篇<br>
                2016年获得研究生第一学年特等奖学金
                </div>
              </div>
            <% } %>
            <div class="demo">
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.5-2015.5</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">传媒艺术研究</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">《传媒艺术先锋》</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">执行主编</div>
                </div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">
                2016年获得研究生第一学年特等奖学金<br>
                2016年11月代表北京大学新闻系参加首页北京地区新闻院<br>
                2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                2016年发表北大中文核心期刊2篇<br>
                2016年获得研究生第一学年特等奖学金
                </div>
              </div>
            </div>
          </section>
          <!-- 项目经验 -->
          <section id="xmjy" class="work baseBlock baseSort">
            <div for-type="old" for-id="xmjy" class="yt-fontBar"></div>
            <h1 class="title showItem">
              <div contenteditable="true">项目经验 </div>
            </h1>
            <% if(typeof(project)=="undefined"){ %>
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.5-2015.5</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">项目名称</div>
                </div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">
                2016年获得研究生第一学年特等奖学金<br>
                2016年11月代表北京大学新闻系参加首页北京地区新闻院<br>
                2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                2016年发表北大中文核心期刊2篇<br>
                2016年获得研究生第一学年特等奖学金
                </div>
              </div>
            <% }else if(project.length > 0){ %>
              <%for(var i=0;i<project.length;i++){%>
                <div class="item-box clearfix">
                  <div class="item showItem">
                    <div contenteditable="true">
                      <% if(typeof(project[i].time)=="undefined"){ %>
                        2014.09-2016.06
                      <% }else{ %>
                        <%=project[i].time%>
                      <% } %>
                    </div>
                  </div>
                  <div class="item showItem">
                    <div contenteditable="true">
                      <% if(typeof(project[i].name)=="undefined"){ %>
                        项目名称
                      <% }else{ %>
                        <%=project[i].name%>
                      <% } %>
                    </div>
                  </div>
                </div>
                <div class="desc showItem">
                  <div contenteditable="true">
                    <% if(typeof(project[i].desc)=="undefined"){ %>
                      2016年获得研究生第一学年特等奖学金<br>
                      2016年11月代表北京大学新闻系参加首页北京地区新闻院<br>
                      2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                      2016年发表北大中文核心期刊2篇<br>
                      2016年获得研究生第一学年特等奖学金
                    <% }else{ %>
                      <%=project[i].desc%>
                    <% } %>
                  </div>
                </div>
              <% } %>
            <% }else{ %>
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.5-2015.5</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">项目名称</div>
                </div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">
                2016年获得研究生第一学年特等奖学金<br>
                2016年11月代表北京大学新闻系参加首页北京地区新闻院<br>
                2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                2016年发表北大中文核心期刊2篇<br>
                2016年获得研究生第一学年特等奖学金
                </div>
              </div>
            <% } %>
            <div class="demo">
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.5-2015.5</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">传媒艺术研究</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">《传媒艺术先锋》</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">执行主编</div>
                </div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">
                2016年获得研究生第一学年特等奖学金<br>
                2016年11月代表北京大学新闻系参加首页北京地区新闻院<br>
                2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                2016年发表北大中文核心期刊2篇<br>
                2016年获得研究生第一学年特等奖学金
                </div>
              </div>
            </div>
          </section>
          <!-- 奖项荣誉 -->
          <section id="jxry" class="honors baseBlock baseSort">
            <div for-type="old" for-id="jxry" class="yt-fontBar"></div>
            <h1 class="title showItem">
              <div contenteditable="true">奖项荣誉 </div>
            </h1>
            <div class="desc">
              <div contenteditable="true">
                <% if(typeof(certificate)=="undefined"){ %>
                  获得校一等奖奖学金<br>
                  全国计算机等级三级证书<br>
                  全国英语六级<br>
                  获得全国会计资格资质<br>
                  获得校一等奖奖学金
                <%}else if(certificate.length > 0) { %>
                  <%for(var i=0;i<certificate.length;i++){%>
                      <%=certificate[i].name%><br>
                  <%}%>
                <%}else{%>
                  获得校一等奖奖学金<br>
                  全国计算机等级三级证书<br>
                  全国英语六级<br>
                  获得全国会计资格资质<br>
                  获得校一等奖奖学金
                <%}%>
              </div>
            </div>
            <div class="demo">
              <div class="desc showItem">
                <div contenteditable="true">
                  获得校一等奖奖学金<br>
                  全国计算机等级三级证书<br>
                  全国英语六级<br>
                  获得全国会计资格资质<br>
                  获得校一等奖奖学金
                </div>
              </div>
            </div>
          </section>
          <section id="xqah" class="hobby baseBlock baseSort clearfix">
            <div for-type="old" for-id="xqah" class="yt-fontBar"></div>
            <h1 class="title">
              <div contenteditable="true">
                兴趣爱好
              </div>
            </h1>
            <% if(typeof(hobbies)=="undefined"){ %>
              <div class="hobbyItem showItem">
                <div contenteditable="true">吉他</div>
              </div>
              <div class="hobbyItem showItem">
                <div contenteditable="true">音乐</div>
              </div>
              <div class="hobbyItem showItem">
                <div contenteditable="true">游戏</div>
              </div>
              <div class="hobbyItem showItem">
                <div contenteditable="true">旅游</div>
              </div>
              <div class="hobbyItem showItem">
                <div contenteditable="true">街舞</div>
              </div>
            <%}else if(hobbies.length > 0) { %>
              <%for(var i=0;i<hobbies.length;i++){%>
                <div class="hobbyItem showItem">
                  <div contenteditable="true"><%=hobbies[i]%></div>
                </div>
              <%}%>
            <%}else{%>
              <div class="hobbyItem showItem">
                <div contenteditable="true">吉他</div>
              </div>
              <div class="hobbyItem showItem">
                <div contenteditable="true">音乐</div>
              </div>
              <div class="hobbyItem showItem">
                <div contenteditable="true">游戏</div>
              </div>
              <div class="hobbyItem showItem">
                <div contenteditable="true">旅游</div>
              </div>
              <div class="hobbyItem showItem">
                <div contenteditable="true">街舞</div>
              </div>
            <%}%>
            <div class="demo">
              <div class="hobbyItem showItem">
                <div contenteditable="true">爱好</div>
              </div>
            </div>
          </section>
          <div class="newDemo">
            <!-- 新模块 DEMO -->
            <section id="" class="newBlock baseBlock baseSort">
              <div for-type="old" for-id="" class="yt-fontBar"></div>
              <h1 class="title showItem">
                <div contenteditable="true">新模块标题 </div>
              </h1>
              <br>
              <div class="showItem">
                <div contenteditable="true">
                  文字编辑
                </div>
              </div>
              <div class="demo">
                <div class="showItem">
                  <div contenteditable="true">
                    文字编辑
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>






    <div id="themeStyle" class="default">
      <div class="container clearfix">
        <header class="clearfix">
          <div class="self baseBlock">
            <h1 class="title">
              <div contenteditable="true">关于我</div></h1>
            <div class="desc">
              <div contenteditable="true">我为人友善、真诚、做事细致、专注，有很强的责任心，学习能力与适应能力强，喜欢与他人交谈，热爱生活性格标签是认真，有着沉静内敛，善于思考和研究的特质，作为本硕皆为新闻学专业的文科生，与文字为伴多年，文字功底扎实，文字编辑、把关、策划能力强。</div></div>
          </div>
          <div class="avatar">
            <img id="avatar" src="null"></div>
        </header>
        <div class="main" id="foo">
          <section id="base" class="baseinfo baseBlock baseSort clearfix">
            <div for-type="old" for-id="base" class="yt-fontBar"></div>
            <h1 class="title showItem">
              <div contenteditable="true">基本信息</div></h1>
            <div class="baseItem">
              <div contenteditable="true">34</div></div>
            <div class="baseItem">
              <div contenteditable="true">性别：男</div></div>
            <div class="baseItem">
              <div contenteditable="true">生日：NaN年NaN月NaN日</div></div>
            <div class="baseItem">
              <div contenteditable="true">籍贯：null</div></div>
            <div class="baseItem">
              <div contenteditable="true">现居：北京／北京</div></div>
            <div class="baseItem">
              <div contenteditable="true">电话：18000000000</div></div>
            <div class="baseItem">
              <div contenteditable="true">邮箱：3@s.com</div></div>
            <div class="baseItem">
              <div contenteditable="true">政治面貌：不填写</div></div>
            <div class="demo">
              <div class="baseItem">
                <div contenteditable="true">标题：编辑内容</div></div>
            </div>
          </section>
          <section id="jybj" class="education baseBlock baseSort">
            <div for-type="old" for-id="jybj" class="yt-fontBar"></div>
            <h1 class="title showItem">
              <div contenteditable="true">教育背景</div></h1>
            <div class="item-box clearfix">
              <div class="item showItem">
                <div contenteditable="true">2014.09-2016.06</div></div>
              <div class="item showItem">
                <div contenteditable="true">清华大学</div></div>
              <div class="item showItem">
                <div contenteditable="true">新闻传播学</div></div>
              <div class="item showItem">
                <div contenteditable="true">硕士研究生</div></div>
            </div>
            <div class="desc showItem">
              <div contenteditable="true">2016年获得研究生第一学d年特等奖学金
                <br>2016年11月代表北京大学新闻系参加首页北京地区新闻院系研究生论坛
                <br>2016年12月获评研究生毕业论文开题答辩优秀报告人
                <br>2016年发表北大中文核心期刊2篇</div></div>
            <div class="demo">
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.09-2016.06</div></div>
                <div class="item showItem">
                  <div contenteditable="true">清华大学</div></div>
                <div class="item showItem">
                  <div contenteditable="true">新闻传播学</div></div>
                <div class="item showItem">
                  <div contenteditable="true">硕士研究生</div></div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">2016年获得研究生第一学d年特等奖学金
                  <br>2016年11月代表北京大学新闻系参加首页北京地区新闻院系研究生论坛
                  <br>2016年12月获评研究生毕业论文开题答辩优秀报告人
                  <br>2016年发表北大中文核心期刊2篇</div></div>
            </div>
          </section>
          <section id="gzjl" class="work baseBlock baseSort">
            <div for-type="old" for-id="gzjl" class="yt-fontBar"></div>
            <h1 class="title showItem">
              <div contenteditable="true">工作经历</div></h1>
            <div class="item-box clearfix">
              <div class="item showItem">
                <div contenteditable="true">2014.5-2015.5</div></div>
              <div class="item showItem">
                <div contenteditable="true">传媒艺术研究</div></div>
              <div class="item showItem">
                <div contenteditable="true">《传媒艺术先锋》</div></div>
              <div class="item showItem">
                <div contenteditable="true">执行主编</div></div>
            </div>
            <div class="desc showItem">
              <div contenteditable="true">2016年获得研究生第一学年特等奖学金
                <br>2016年11月代表北京大学新闻系参加首页北京地区新闻院
                <br>2016年12月获评研究生毕业论文开题答辩优秀报告人
                <br>2016年发表北大中文核心期刊2篇
                <br>2016年获得研究生第一学年特等奖学金</div></div>
            <div class="demo">
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.5-2015.5</div></div>
                <div class="item showItem">
                  <div contenteditable="true">传媒艺术研究</div></div>
                <div class="item showItem">
                  <div contenteditable="true">《传媒艺术先锋》</div></div>
                <div class="item showItem">
                  <div contenteditable="true">执行主编</div></div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">2016年获得研究生第一学年特等奖学金
                  <br>2016年11月代表北京大学新闻系参加首页北京地区新闻院
                  <br>2016年12月获评研究生毕业论文开题答辩优秀报告人
                  <br>2016年发表北大中文核心期刊2篇
                  <br>2016年获得研究生第一学年特等奖学金</div></div>
            </div>
          </section>
          <section id="xmjy" class="work baseBlock baseSort">
            <div for-type="old" for-id="xmjy" class="yt-fontBar"></div>
            <h1 class="title showItem">
              <div contenteditable="true">项目经验</div></h1>
            <div class="item-box clearfix">
              <div class="item showItem">
                <div contenteditable="true">2014.5-2015.5</div></div>
              <div class="item showItem">
                <div contenteditable="true">项目名称</div></div>
            </div>
            <div class="desc showItem">
              <div contenteditable="true">2016年获得研究生第一学年特等奖学金
                <br>2016年11月代表北京大学新闻系参加首页北京地区新闻院
                <br>2016年12月获评研究生毕业论文开题答辩优秀报告人
                <br>2016年发表北大中文核心期刊2篇
                <br>2016年获得研究生第一学年特等奖学金</div></div>
            <div class="demo">
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.5-2015.5</div></div>
                <div class="item showItem">
                  <div contenteditable="true">传媒艺术研究</div></div>
                <div class="item showItem">
                  <div contenteditable="true">《传媒艺术先锋》</div></div>
                <div class="item showItem">
                  <div contenteditable="true">执行主编</div></div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">2016年获得研究生第一学年特等奖学金
                  <br>2016年11月代表北京大学新闻系参加首页北京地区新闻院
                  <br>2016年12月获评研究生毕业论文开题答辩优秀报告人
                  <br>2016年发表北大中文核心期刊2篇
                  <br>2016年获得研究生第一学年特等奖学金</div></div>
            </div>
          </section>
          <section id="jxry" class="honors baseBlock baseSort">
            <div for-type="old" for-id="jxry" class="yt-fontBar"></div>
            <h1 class="title showItem">
              <div contenteditable="true">奖项荣誉</div></h1>
            <div class="desc">
              <div contenteditable="true">获得校一等奖奖学金
                <br>全国计算机等级三级证书
                <br>全国英语六级
                <br>获得全国会计资格资质
                <br>获得校一等奖奖学金</div></div>
            <div class="demo">
              <div class="desc showItem">
                <div contenteditable="true">获得校一等奖奖学金
                  <br>全国计算机等级三级证书
                  <br>全国英语六级
                  <br>获得全国会计资格资质
                  <br>获得校一等奖奖学金</div></div>
            </div>
          </section>
          <section id="xqah" class="hobby baseBlock baseSort clearfix">
            <div for-type="old" for-id="xqah" class="yt-fontBar"></div>
            <h1 class="title">
              <div contenteditable="true">兴趣爱好</div></h1>
            <div class="hobbyItem showItem">
              <div contenteditable="true">吉他</div></div>
            <div class="hobbyItem showItem">
              <div contenteditable="true">音乐</div></div>
            <div class="hobbyItem showItem">
              <div contenteditable="true">游戏</div></div>
            <div class="hobbyItem showItem">
              <div contenteditable="true">旅游</div></div>
            <div class="hobbyItem showItem">
              <div contenteditable="true">街舞</div></div>
            <div class="demo">
              <div class="hobbyItem showItem">
                <div contenteditable="true">爱好</div></div>
            </div>
          </section>
          <div class="newDemo">
            <section id="" class="newBlock baseBlock baseSort">
              <div for-type="old" for-id="" class="yt-fontBar"></div>
              <h1 class="title showItem">
                <div contenteditable="true">新模块标题</div></h1>
              <br>
              <div class="showItem">
                <div contenteditable="true">文字编辑</div></div>
              <div class="demo">
                <div class="showItem">
                  <div contenteditable="true">文字编辑</div></div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>





