.demo,.newDemo {display: none;}
div[contenteditable] {cursor: text;display: inline-block;vertical-align: top;}
.yt-baseStyle .baseBlock .showItem {display: block;}
/* theme default */
.container{
	font-size: 14px;
	color: #666;
	position: relative;
	padding-bottom: 60px;
}

.wy-theme .bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	background: #404145;
}
.wy-theme .head {
	background: #404145;
	color: #FFFFFF;
	text-align: center;
	padding: 35px 0;
}
.wy-theme .head .icon {
	width: 100px;
	margin: 0 auto 15px;
}
.wy-theme .head .icon1, .wy-theme .head .icon1{
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid #FFFFFF;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
}
.wy-theme .head .name {
	font-size: 36px;
	line-height: 50px;
}
.wy-theme .head .positon {
	font-size: 24px;
}
.wy-theme .main {
	padding: 20px 0 0 0;
}
.wy-theme .main .left {
	float: left;
	width: 408px;
}
.wy-theme .main .right {
	float: right;
	width: 408px;
}
.wy-theme .main section {
	padding: 0 20px 20px 20px;
}
.wy-theme .main section h1 {
	height: 32px;
	line-height: 32px;
	text-align: center;
	background: #404145;
	color: #FFFFFF;
	font-size: 18px;
	margin-bottom: 10px;
}
.wy-theme .main #base .item {
	float: left; 
	width: 50%;
}
.wy-theme .main #jybj .item-box .item,.wy-theme .main #sxjl .item-box .item,.main #xmjy .item-box .item,.main #pxjl .item-box .item{
  float: left;
  margin-right: 30px;
  font-weight: bolder;
}
.wy-theme .main #wdjn .skill {
	padding: 5px;
	border: 1px solid #999999;
	border-radius: 10px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 5px;
}
.wy-theme .main #jxry .jx{
	float: left;
	width: 50%;
}
.wy-theme  #xqah .hobbyItem {
	width: 40px;
	height: 40px;
	border: 1px solid #999;
	text-align: center;
	line-height: 40px;
	font-size: 10px;
	float: left;
	margin-right: 30px;
	margin-left: 10px;
	margin-top: 10px;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
}
.wy-theme  #xqah .hobbyItem div, .wy-theme  #xqah .delItem {
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Safari and Chrome */
}
