<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="base.css">
  <link href="style.css" rel="stylesheet">
  <title>Document</title>
  <style>
    body {
      background-color: #f9f9f9;
    }

    #resumeBox {
      width: 820px;
      min-height: 1160px;
      background-color: #fff;
      border: 1px solid #f0f0f0;
      margin: 20px auto;
    }
  </style>
</head>

<body>
  <div class="yt-baseStyle" id="resumeBox">

  </div>
  <script id="default" type="text/html">
    <div id="themeStyle" class="default">
      <div class="container clearfix wy-theme">
        <header class="clearfix">
          <div class="avatar">
            <% if(typeof(information)=="undefined"){ %>
              <img id="avatar" src="https://resume.yo-tree.com/static/img/no-user.png">
            <% }else if(typeof(information.avatar)=="undefined"){ %>
              <img id="avatar" src="https://resume.yo-tree.com/static/img/no-user.png">
            <% }else{ %>
              <img id="avatar" src="<%=information.avatar%>">
            <% } %>
          </div>
          <div contenteditable="true" class="position clearfix">
            <% if(typeof(jobIntension)=="undefined"){ %>
              求职意向：审计员
            <% }else if(typeof(jobIntension[0].position)=="undefined"){ %>
              求职意向：审计员
            <% }else{ %>
              求职意向：<%=jobIntension[0].position%>
            <% } %>
          </div>
          <div id="base" class="baseBlock clearfix">
            <div for-type="old" for-id="base" class="yt-fontBar"></div>
                <div contenteditable="true" class="clearfix name">
                  <% if(typeof(information)=="undefined"){ %>
                    xxx
                  <% }else if(typeof(information.name)=="undefined"){ %>
                    xxx
                  <% }else{ %>
                    <%=information.name%>
                  <% } %>
                </div>
                <span class="phone showItem">
                  <div class="square"></div>
                  <div contenteditable="true"> 
                    <% if(typeof(information)=="undefined"){ %>
                      电话：18888888888
                    <% }else if(typeof(information.phone)=="undefined"){ %>
                      电话：18888888888
                    <% }else{ %>
                      电话：<%=information.phone%>
                    <% } %>
                  </div>
                </span>             
                <span class="address showItem">
                  <div class="square"></div>
                  <div contenteditable="true">
                    <% if(typeof(information)=="undefined"){ %>
                      现居：北京
                    <% }else if(typeof(information.addressStr)=="undefined"){ %>
                      现居：北京
                    <% }else{ %>
                      现居：<%=information.addressStr%>
                    <% } %>
                  </div>
                </span>
                <span class="email showItem">
                  <div class="square"></div>
                  <div contenteditable="true">
                    <% if(typeof(information)=="undefined"){ %>
                      邮箱：12345@yo-tree.com
                    <% }else if(typeof(information.email)=="undefined"){ %>
                      邮箱：12345@yo-tree.com
                    <% }else{ %>
                      邮箱：<%=information.email%>
                    <% } %>
                  </div>
                </span>
                <span class="birthday showItem">
                  <div class="square"></div>
                  <div contenteditable="true">
                    <% if(typeof(information)=="undefined"){ %>
                      生日：1992-09-09
                    <% }else if(typeof(information.birthdayStr)=="undefined"){ %>
                      生日：1992-09-09
                    <% }else{ %>
                      生日：<%=information.birthdayStr%>
                    <% } %>
                  </div>
                </span>
                <div class="demo">
                  <span class="showItem">
                  <div class="square"></div>
                  <div contenteditable="true">
                  
                    标题：内容
                  </div>
                  </span>
                </div>
          </div>
        </header>
        <div class="main" id="foo">
          <!-- 教育背景 -->
          <section id="jybj" class="education baseBlock baseSort clearfix">
            <div for-type="old" for-id="jybj" class="yt-fontBar"></div>
            <div class="top">
              <h1 class="title clearfix">
                <div class="circle"></div>
                <div contenteditable="true">教育背景</div>
                <div class="line"></div>
              </h1>
            </div>
            <div class="block-item">
            <% if(typeof(education)=="undefined"){ %>
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.09-2016.06</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">清华大学</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">新闻传播学</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">硕士研究生</div>
                </div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">
                2016年获得研究生第一学d年特等奖学金<br>
                2016年11月代表北京大学新闻系参加首页北京地区新闻院系研究生论坛<br>
                2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                2016年发表北大中文核心期刊2篇
                </div>
              </div>
            <% }else if(education.length > 0){ %>
              <%for(var i=0;i<education.length;i++){%>
                  <div class="item-box clearfix">
                    <div class="item showItem">
                      <div contenteditable="true">
                        <% if(typeof(education[i].time)=="undefined"){ %>
                          2014.09-2016.06
                        <% }else{ %>
                          <%=education[i].time%>
                        <% } %>
                      </div>
                    </div>
                    <div class="item showItem">
                      <div contenteditable="true">
                        <% if(typeof(education[i].gxname)=="undefined"){ %>
                          有树大学
                        <% }else{ %>
                          <%=education[i].gxname%>
                        <% } %>
                      </div>
                    </div>
                    <div class="item showItem">
                      <div contenteditable="true">
                        <% if(typeof(education[i].major)=="undefined"){ %>
                          新闻传播学
                        <% }else{ %>
                          <%=education[i].major%>
                        <% } %>
                      </div>
                    </div>
                    <div class="item showItem">
                      <div contenteditable="true">
                        <% if(typeof(education[i].education)=="undefined"){ %>
                          研究生
                        <% }else{ %>
                          <%=education[i].education%>
                        <% } %>
                      </div>
                    </div>
                  </div>
                  <div class="desc showItem">
                    <div contenteditable="true">
                    2016年获得研究生第一学d年特等奖学金<br>
                    2016年11月代表北京大学新闻系参加首页北京地区新闻院系研究生论坛<br>
                    2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                    2016年发表北大中文核心期刊2篇
                    </div>
                  </div>
              <%}%>
            <% }else{ %>
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.09-2016.06</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">清华大学</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">新闻传播学</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">硕士研究生</div>
                </div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">
                2016年获得研究生第一学d年特等奖学金<br>
                2016年11月代表北京大学新闻系参加首页北京地区新闻院系研究生论坛<br>
                2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                2016年发表北大中文核心期刊2篇
                </div>
              </div>
            <% } %>
            </div>
            <div class="demo">
              <div class="block-item">
                <div class="item-box clearfix">
                  <div class="item showItem">
                    <div contenteditable="true">2014.09-2016.06</div>
                  </div>
                  <div class="item showItem">
                    <div contenteditable="true">清华大学</div>
                  </div>
                  <div class="item showItem">
                    <div contenteditable="true">新闻传播学</div>
                  </div>
                  <div class="item showItem">
                    <div contenteditable="true">硕士研究生</div>
                  </div>
                </div>
                <div class="desc showItem">
                  <div contenteditable="true">
                  2016年获得研究生第一学d年特等奖学金<br>
                  2016年11月代表北京大学新闻系参加首页北京地区新闻院系研究生论坛<br>
                  2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                  2016年发表北大中文核心期刊2篇
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- 工作经历 -->
          <section id="gzjl" class="work baseBlock baseSort clearfix">
            <div for-type="old" for-id="gzjl" class="yt-fontBar"></div>
            <div class="top">
              <h1 class="title clearfix">
                <div class="circle"></div>
                <div contenteditable="true">工作经历</div>
                <div class="line"></div>
              </h1>
            </div>
            <div class="block-item">
            <% if(typeof(work)=="undefined"){ %>
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.5-2015.5</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">传媒艺术研究</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">《传媒艺术先锋》</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">执行主编</div>
                </div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">
                2016年获得研究生第一学年特等奖学金<br>
                2016年11月代表北京大学新闻系参加首页北京地区新闻院<br>
                2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                2016年发表北大中文核心期刊2篇<br>
                2016年获得研究生第一学年特等奖学金
                </div>
              </div>
            <% }else if(work.length > 0){ %>
              <%for(var i=0;i<work.length;i++){%>
                <div class="item-box clearfix">
                  <div class="item showItem">
                    <div contenteditable="true">
                      <% if(typeof(work[i].time)=="undefined"){ %>
                        2014.09-2016.06
                      <% }else{ %>
                        <%=work[i].time%>
                      <% } %>
                    </div>
                  </div>
                  <div class="item showItem">
                    <div contenteditable="true">
                      <% if(typeof(work[i].name)=="undefined"){ %>
                        途云内外
                      <% }else{ %>
                        <%=work[i].name%>
                      <% } %>
                    </div>
                  </div>
                  <div class="item showItem">
                    <div contenteditable="true">
                      <% if(typeof(work[i].type)=="undefined"){ %>
                        全职
                      <% }else{ %>
                        <%=work[i].type%>
                      <% } %>
                    </div>
                  </div>
                  <div class="item showItem">
                    <div contenteditable="true">
                      <% if(typeof(work[i].position)=="undefined"){ %>
                        执行主编
                      <% }else{ %>
                        <%=work[i].position%>
                      <% } %>
                    </div>
                  </div>
                </div>
                <div class="desc showItem">
                  <div contenteditable="true">
                    <% if(typeof(work[i].desc)=="undefined"){ %>
                      2016年获得研究生第一学年特等奖学金<br>
                      2016年11月代表北京大学新闻系参加首页北京地区新闻院<br>
                      2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                      2016年发表北大中文核心期刊2篇<br>
                      2016年获得研究生第一学年特等奖学金
                    <% }else{ %>
                      <%=work[i].desc%>
                    <% } %>
                  </div>
                </div>
              <% } %>
            <% }else{ %>
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.5-2015.5</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">传媒艺术研究</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">《传媒艺术先锋》</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">执行主编</div>
                </div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">
                2016年获得研究生第一学年特等奖学金<br>
                2016年11月代表北京大学新闻系参加首页北京地区新闻院<br>
                2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                2016年发表北大中文核心期刊2篇<br>
                2016年获得研究生第一学年特等奖学金
                </div>
              </div>
            <% } %>
            </div>
            <div class="demo">
              <div class="block-item">
                <div class="item-box clearfix">
                  <div class="item showItem">
                    <div contenteditable="true">2014.5-2015.5</div>
                  </div>
                  <div class="item showItem">
                    <div contenteditable="true">传媒艺术研究</div>
                  </div>
                  <div class="item showItem">
                    <div contenteditable="true">《传媒艺术先锋》</div>
                  </div>
                  <div class="item showItem">
                    <div contenteditable="true">执行主编</div>
                  </div>
                </div>
                <div class="desc showItem">
                  <div contenteditable="true">
                  2016年获得研究生第一学年特等奖学金<br>
                  2016年11月代表北京大学新闻系参加首页北京地区新闻院<br>
                  2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                  2016年发表北大中文核心期刊2篇<br>
                  2016年获得研究生第一学年特等奖学金
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- 项目经验 -->
          <section id="xmjy" class="work baseBlock baseSort clearfix">
            <div for-type="old" for-id="xmjy" class="yt-fontBar"></div>
            <div class="top">
              <h1 class="title clearfix">
                <div class="circle"></div>
                <div contenteditable="true">项目经验</div>
                <div class="line"></div>
              </h1>
            </div>
            <div class="block-item">
            <% if(typeof(project)=="undefined"){ %>
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.5-2015.5</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">项目名称</div>
                </div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">
                2016年获得研究生第一学年特等奖学金<br>
                2016年11月代表北京大学新闻系参加首页北京地区新闻院<br>
                2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                2016年发表北大中文核心期刊2篇<br>
                2016年获得研究生第一学年特等奖学金
                </div>
              </div>
            <% }else if(project.length > 0){ %>
              <%for(var i=0;i<project.length;i++){%>
                <div class="item-box clearfix">
                  <div class="item showItem">
                    <div contenteditable="true">
                      <% if(typeof(project[i].time)=="undefined"){ %>
                        2014.09-2016.06
                      <% }else{ %>
                        <%=project[i].time%>
                      <% } %>
                    </div>
                  </div>
                  <div class="item showItem">
                    <div contenteditable="true">
                      <% if(typeof(project[i].name)=="undefined"){ %>
                        项目名称
                      <% }else{ %>
                        <%=project[i].name%>
                      <% } %>
                    </div>
                  </div>
                </div>
                <div class="desc showItem">
                  <div contenteditable="true">
                    <% if(typeof(project[i].desc)=="undefined"){ %>
                      2016年获得研究生第一学年特等奖学金<br>
                      2016年11月代表北京大学新闻系参加首页北京地区新闻院<br>
                      2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                      2016年发表北大中文核心期刊2篇<br>
                      2016年获得研究生第一学年特等奖学金
                    <% }else{ %>
                      <%=project[i].desc%>
                    <% } %>
                  </div>
                </div>
              <% } %>
            <% }else{ %>
              <div class="item-box clearfix">
                <div class="item showItem">
                  <div contenteditable="true">2014.5-2015.5</div>
                </div>
                <div class="item showItem">
                  <div contenteditable="true">项目名称</div>
                </div>
              </div>
              <div class="desc showItem">
                <div contenteditable="true">
                2016年获得研究生第一学年特等奖学金<br>
                2016年11月代表北京大学新闻系参加首页北京地区新闻院<br>
                2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                2016年发表北大中文核心期刊2篇<br>
                2016年获得研究生第一学年特等奖学金
                </div>
              </div>
            <% } %>
            </div>
            <div class="demo">
              <div class="block-item">
                <div class="item-box clearfix">
                  <div class="item showItem">
                    <div contenteditable="true">2014.5-2015.5</div>
                  </div>
                  <div class="item showItem">
                    <div contenteditable="true">传媒艺术研究</div>
                  </div>
                  <div class="item showItem">
                    <div contenteditable="true">《传媒艺术先锋》</div>
                  </div>
                  <div class="item showItem">
                    <div contenteditable="true">执行主编</div>
                  </div>
                </div>
                <div class="desc showItem">
                  <div contenteditable="true">
                  2016年获得研究生第一学年特等奖学金<br>
                  2016年11月代表北京大学新闻系参加首页北京地区新闻院<br>
                  2016年12月获评研究生毕业论文开题答辩优秀报告人<br>
                  2016年发表北大中文核心期刊2篇<br>
                  2016年获得研究生第一学年特等奖学金
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- 奖项荣誉 -->
          <section id="jxry" class="honors baseBlock baseSort clearfix">
            <div for-type="old" for-id="jxry" class="yt-fontBar"></div>
            <div class="top">
              <h1 class="title clearfix">
                <div class="circle"></div>
                <div contenteditable="true">奖项荣誉</div>
                <div class="line"></div>
              </h1>
            </div>
            <div class="block-item">
              <div class="desc">
                <div contenteditable="true">
                  <% if(typeof(certificate)=="undefined"){ %>
                    <div class="item">获得校一等奖奖学金</div>
                    <div class="item">全国计算机等级三级证书</div>
                    <div class="item">全国英语六级</div>
                    <div class="item">获得全国会计资格资质</div>
                    <div class="item">获得校一等奖奖学金</div>
                  <%}else if(certificate.length > 0) { %>
                    <%for(var i=0;i<certificate.length;i++){%>
                        <%=certificate[i].name%><br>
                    <%}%>
                  <%}else{%>
                   <div>获得校一等奖奖学金</div>
                    <div>全国计算机等级三级证书</div>
                    <div>全国英语六级</div>
                    <div>获得全国会计资格资质</div>
                    <div>获得校一等奖奖学金</div>
                  <%}%>
                </div>
              </div>
            </div>
            <div class="demo">
              <div class="block-item">
                <div class="block-item">
                  <div class="desc showItem">
                    <div contenteditable="true">
                      <div>获得校一等奖奖学金</div>
                      <div>全国计算机等级三级证书</div>
                      <div>全国英语六级</div>
                      <div>获得全国会计资格资质</div>
                      <div>获得校一等奖奖学金</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="xqah" class="hobby baseBlock baseSort clearfix clearfix">
            <div for-type="old" for-id="xqah" class="yt-fontBar"></div>
            <div class="top">
              <h1 class="title clearfix">
                <div class="circle"></div>
                <div contenteditable="true">兴趣爱好</div>
                <div class="line"></div>
              </h1>
            </div>
            <br>
            <div class="block-item">
              <% if(typeof(hobbies)=="undefined"){ %>
                <div class="hobbyItem showItem">
                  <div contenteditable="true">吉他</div>
                </div>
                <div class="hobbyItem showItem">
                  <div contenteditable="true">音乐</div>
                </div>
                <div class="hobbyItem showItem">
                  <div contenteditable="true">游戏</div>
                </div>
                <div class="hobbyItem showItem">
                  <div contenteditable="true">旅游</div>
                </div>
                <div class="hobbyItem showItem">
                  <div contenteditable="true">街舞</div>
                </div>
              <%}else if(hobbies.length > 0) { %>
                <%for(var i=0;i<hobbies.length;i++){%>
                  <div class="hobbyItem showItem">
                    <div contenteditable="true"><%=hobbies[i]%></div>
                  </div>
                <%}%>
              <%}else{%>
                <div class="hobbyItem showItem">
                  <div contenteditable="true">吉他</div>
                </div>
                <div class="hobbyItem showItem">
                  <div contenteditable="true">音乐</div>
                </div>
                <div class="hobbyItem showItem">
                  <div contenteditable="true">游戏</div>
                </div>
                <div class="hobbyItem showItem">
                  <div contenteditable="true">旅游</div>
                </div>
                <div class="hobbyItem showItem">
                  <div contenteditable="true">街舞</div>
                </div>
              <%}%>
            </div>
            <div class="demo">
              <div class="block-item">
                <div class="hobbyItem showItem">
                  <div contenteditable="true">爱好</div>
                </div>
              </div>
            </div>
          </section>
          <!-- 自我评价 -->
          <section id="zwpj" class="personal baseBlock baseSort clearfix">
            <div for-type="old" for-id="zwpj" class="yt-fontBar"></div>
            <div class="top">
              <h1 class="title clearfix">
                <div class="circle"></div>
                <div contenteditable="true">自我评价</div>
                <div class="line"></div>
              </h1>
            </div>
            <div class="block-item">
              <div class="desc showItem">
                <div contenteditable="true">
                  <% if(typeof(introduce)=="undefined"){ %>
                    我为人友善、真诚、做事细致、专注，有很强的责任心，学习能力与适应能力强，喜欢与他人交谈，热爱生活性格标签是认真，有着沉静内敛，善于思考和研究的特质，作为本硕皆为新闻学专业的文科生，与文字为伴多年，文字功底扎实，文字编辑、把关、策划能力强。
                  <% }else if(typeof(introduce.desc)=="undefined"){ %>
                    我为人友善、真诚、做事细致、专注，有很强的责任心，学习能力与适应能力强，喜欢与他人交谈，热爱生活性格标签是认真，有着沉静内敛，善于思考和研究的特质，作为本硕皆为新闻学专业的文科生，与文字为伴多年，文字功底扎实，文字编辑、把关、策划能力强。
                  <% }else{ %>
                    <%=introduce.desc%>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="demo">
              <div class="block-item">
                <div class="desc showItem">
                  <div contenteditable="true">
                    我为人友善、真诚、做事细致、专注，有很强的责任心，学习能力与适应能力强，喜欢与他人交谈，热爱生活性格标签是认真，有着沉静内敛，善于思考和研究的特质，作为本硕皆为新闻学专业的文科生，与文字为伴多年，文字功底扎实，文字编辑、把关、策划能力强。
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="newDemo">
            <!-- 新模块 DEMO -->
            <section id="" class="newBlock baseBlock baseSort clearfix">
              <div for-type="old" for-id="" class="yt-fontBar"></div>
              <div class="top">
                <h1 class="title clearfix">
                  <div class="circle"></div>
                  <div contenteditable="true">新模块</div>
                  <div class="line"></div>
                </h1>
              </div>
              <br>
              <div class="block-item">
                <div class="showItem">
                  <div contenteditable="true">
                    文字编辑
                  </div>
                </div>
              </div>
              <div class="demo">
                <div class="block-item">
                  <div class="showItem">
                    <div contenteditable="true">
                      文字编辑
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script src="./baiduTemplate.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript">
    var data = {
      "education": [{
        gxname: "清华北大"
      }]
    };
    var html = baidu.template('default', data);
    document.getElementById('resumeBox').innerHTML = html;
  </script>
</body>

</html>
