.demo,.newDemo {display: none;}
div[contenteditable] {cursor: text;display: inline-block;vertical-align: top;}
.yt-baseStyle .baseBlock .showItem {display: block;}
/* theme default */
.container {
  position: relative;
  font-size: 14px;
  color: #666;
  padding: 35px;
}
.square {
  width: 12px;
  height: 12px;
  background-color: #108676;
  border-radius: 4px;
  position: absolute;
  top: 7px;
}
.circle {
  width: 16px;
  height: 16px;
  background: #108676;
  border-radius: 8px;
  position: absolute;
  top: 6px;
}
.line {
    display: inline-block;
    height: 3px;
    background: #108676;
    margin: auto 0;
    position: absolute;
    top:0;
    bottom:0;
    left: 110px;
    right: 0px;
}
.desc {
  line-height: 35px;
}
.default .container header {
  position: relative;
  width: 100%;
}
.default .container header .avatar {
  width: 135px;
  height: 156px;
  background-color: #108676;
  border: 1px solid #108676;
  border-radius: 3px;
  float: left;
}
.default .container header .avatar img{
  width: 135px;
  height: 156px;
}
.default .container header .position {
  margin-left: 10px;
  position: absolute;
  top: 0;
  font-size: 15px;
}
.default .container header .baseBlock {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
}
header .baseBlock .baseinfo .name div{
  border-bottom: 1px solid #000;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  color: #108676;
  width: 100%;
  text-align: right;
}
header .baseBlock .baseinfo .baseContent{
  border-bottom: 1px solid #000;
}
header .baseBlock .baseinfo .baseContent {
  border-bottom: 1px solid #000;
  padding: 5px 0;
}
header .baseBlock .baseinfo .baseContent span {
  width: 50%;
  float: left;
  font-size: 14px;
  position: relative;
}
header .baseBlock .baseinfo .baseContent span div:nth-child(2){
  margin-left: 16px;
}
.main section{
  margin-top: 20px;
}
.main h1 {
  position: relative;
  font-size: 18px;
  color: #108676;
  font-weight: bolder;
}
.title div:nth-child(2){
  margin-left: 22px;
}
.main section{
  padding: 10px 0 0 20px;
  border-left: #108676 3px solid;
  margin: 50px 0 0 10px ;
}
.top {
  margin-left: -28px;
  margin-top: -40px;
}
.main .item-box .item {
  float: left;
  font-size: 14px;
  color: #108676;
  margin: 10px 20px 5px 0 ;
  text-align: left;
}
#xqah .hobbyItem{
  border: 2px solid #108676;
  border-radius: 6px;
  display: inline-block;
  margin: 0 10px;
  padding: 5px;
}