.demo,.newDemo {display: none;}
div[contenteditable] {cursor: text;vertical-align: top;}
.yt-baseStyle .baseBlock .showItem {display: block;}
/* theme default */
.container{
	padding-left: 220px;
	font-size: 14px;
	color: #666;
}
.main{
	border-left: 1px solid #979797;
	padding: 30px 30px 30px 40px;
}
.wy-theme .headinfo{
	padding: 30px 0;
	width: 220px;
	position: absolute;
	margin: -30px 0 0 -260px;
}
.wy-theme #base .item{
	padding-left: 20px;
}

.wy-theme h1 {
	font-size: 18px;
	font-weight: bolder;
	color: #333;
}
.wy-theme section .title{
	background: #F7C033;
	width: 117px;
	height: 32px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 10px;
}
.wy-theme section .title h1{
	color: #FFFFFF;
}

.wy-theme section h1 div:before{
	content: '';
	width: 12px;
	height: 32px;
	background: #F7C033;
	position: absolute;
	top: -1px;
	left: -22px;
}
.wy-theme section {
	margin-bottom: 10px;
	padding-left: 20px;
	margin-left: -20px;
}
.wy-theme .headinfo .avatar {
	width: 144.1px;
	height: 188px;
	background: #F7C033;
	margin: 0px auto 20px; 
}
.wy-theme .headinfo .avatar img {
	width: 144.1px;
	height: 188px;
}
.wy-theme .headinfo .center{
	text-align: center;
	font-weight: bolder;
}
.wy-theme .headinfo .position{
	margin-bottom: 20px;
}

.wy-theme .main #jybj .item-box .item,.wy-theme .main #sxjl .item-box .item,.main #xmjy .item-box .item,.main #pxjl .item-box .item{
  float: left;
  margin-right: 30px;
  text-align: left;
  font-size: 14px;
  color: #333333;
  line-height: 20px;
  font-weight: bolder;
}
.wy-theme .main #jybj .block-item,.main #sxjl .block-item,.main #xmjy .block-item,.main #pxjl .block-item{
	margin-top: 10px;
}

.wy-theme .main #xqah .hobbyItem {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #999999;
  border-radius: 25px;
  margin: 5px 10px 0 0;
  text-align: center;
  line-height: 50px;
  font-size: 10px;
}
.wy-theme #wdjn .skill {
	padding: 5px;
	border: 1px solid #999999;
	border-radius: 10px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 5px;
}
.wy-theme #jxry .jx {
	float: left;
	margin-right: 35px;
}
