.demo,.newDemo {display: none;}
div[contenteditable] {cursor: text;display: inline-block;vertical-align: top;}
.yt-baseStyle .baseBlock .showItem {display: block;}
/* theme default */
.default .container{
  position: relative;
  padding: 40px 20px 30px 20px;
  font-size: 14px;
  color: #666;
}
.wy-theme h1 {
  font-size: 18px;
  color: #333;
  font-weight: bolder;
}
.wy-theme section{
  margin-top: 10px;
}
.wy-theme .main .avatar{
  float: left;
  width: 145px;
  height: 191px;
  background: #E6E4E4;
  margin-right: 10px;
}
.wy-theme .main .avatar img {
  width: 145px;
  height: 191px;
}
.wy-theme #base {
  float: left;
  margin-right: 25px;
}
.wy-theme .top-right{
  position: absolute;
  left: 400px;
  right: 10px;
}
.wy-theme .main #jybj .item-box .item,.main #sxjl .item-box .item,.main #xmjy .item-box .item,.main #pxjl .item-box .item{
  float: left;
  margin-right: 20px;
  text-align: left;
  font-size: 14px;
  color: #333;
  font-weight: bolder;
  line-height: 25px;
}
.wy-theme .main #sxjl .half{
  display: inline-block;
  width: 45%;
  margin-right: 20px;
  margin-bottom: 15px;
}
.wy-theme  .main .hobby .hobbyItem {
  width: 46px;
  height: 46px;
  line-height: 46px;
  border: 1px solid #999999;
  border-radius: 23px;
  text-align: center;
  font-size: 10px;
  float: left;
  margin-right: 15px;
  margin-top: 10px;
  /*overflow: hidden;*/
}
