.demo,.newDemo {display: none;}
div[contenteditable] {cursor: text;vertical-align: top;}
.yt-baseStyle .baseBlock .showItem {display: block;}
/* theme default */
.container{
	font-size: 14px;
	color: #666;
	position: relative;
}
.wy-theme .big-block1 {
	width: 310px;
	height: 54px;
	border-radius: 0 8px 8px 0;
	background: #6CCFE6; 
	position: absolute;
	top: 230px;
	left: 0;
}
.wy-theme .big-block2 {
	width: 450px;
	height: 54px;
	border-radius: 8px 0px 0px 8px;
	background: #6CCFE6; 
	position: absolute;
	top: 230px;
	right: 0;
}
.wy-theme h1{
	font-size: 18px;
	font-weight: bolder;
	color: #6CCFE6;
}
.wy-theme h1 small {
	font-size: 14px;
	margin-left: 20px;
	color: #999;
}
.wy-theme .right #zwpj h1{
	color: #333;
}
.wy-theme .left {
	width: 260px;
	background: #F7F7F7;
	float: left;
	padding-bottom: 50px;
}
.wy-theme .left .avatar {
	width: 260px;
	height: 230px;
	background: #D8D8D8; 
	margin-bottom: 70px;
}
.wy-theme .left section {
	padding: 0 2px 20px 24px;
}
.wy-theme .left .avatar img{
	width: 260px;
	height: 230px;
}
.wy-theme .left #jxry .jx {
	border-left: 1px solid #6CCFE6;
	padding-left: 10px;
	margin-left: 10px;
}
.wy-theme .left #jxry .jx:before{
	content: " ";
	width: 9px;
	height: 9px;
	border-radius: 5px;
	background: #6CCFE6;
	position: absolute;
	left: -5px;
	top: 7px;
}
.wy-theme .left #xqah .hobbyItem {
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  font-size: 10px;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}
.wy-theme .left #wdjn .skill {
	padding: 5px;
	border: 1px solid #999999;
	border-radius: 10px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 5px;
}
.wy-theme .right {
	width: 550px;
	float: right;
	position: relative;
}
/*自我评价*/
.wy-theme .right #zwpj {
	height: 230px;
	padding: 50px 30px 20px;
}
.wy-theme .right .main {
	margin: 70px 20px 20px 70px;
	padding-left: 30px;
	border-left: 1px solid #6CCFE6;
}
.wy-theme .right .main section {
	padding-bottom: 20px;
	position: relative;

}
.wy-theme .right .main section .title .circle-border{
	
	display: inline-block;
	border-radius: 20px;
	padding: 2px;
	border: 1px solid #6CCFE6;
	position: absolute;
	left: -40px;
	top: 3px;
}
.wy-theme .right .main section .title .circle-border .big-circle{
	width: 14px;
	height: 14px;
	border-radius: 10px;
	background: #6CCFE6;
	padding: 2px;
	/*border: 1px solid #6CCFE6;*/
}
.wy-theme .right .main section .time {
	position: absolute;
	left: -90px;
	color: #333;
	font-weight: bolder;
}
.wy-theme .right .main section .item-box{
	position: relative;
}
.wy-theme .right .main section .item-box .time:before {
	content: " ";
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #6CCFE6;
	position: absolute;
	left: 53.5px;
	top: 4px;
}
.wy-theme .right .main .item-box .item {
  float: left;
  margin-right: 30px;
  font-weight: bolder;
}